<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.mapper.EmployeeMapper">

    <resultMap id="BaseResultMap" type="com.atguigu.dto.Employee">
        <id property="employeeId" column="employee_id" jdbcType="INTEGER"/>
        <result property="firstName" column="first_name" jdbcType="VARCHAR"/>
        <result property="lastName" column="last_name" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="phoneNumber" column="phone_number" jdbcType="VARCHAR"/>
        <result property="hireDate" column="hire_date" jdbcType="DATE"/>
        <result property="jobId" column="job_id" jdbcType="VARCHAR"/>
        <result property="salary" column="salary" jdbcType="DOUBLE"/>
        <result property="commissionPct" column="commission_pct" jdbcType="DOUBLE"/>
        <result property="managerId" column="manager_id" jdbcType="INTEGER"/>
        <result property="departmentId" column="department_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="base_column_cist">
        employee_id
        as employeeId,
        first_name as firstName,
        last_name as lastName,
        email as email,
        phone_number as phoneNumber,
        hire_date as hireDate,
        job_id as jobId,
        salary as salary,
        commission_pct as commissionPct,
        manager_id as managerId,
        department_id as departmentId
    </sql>
    <select id="queryEmployeeList" resultType="com.atguigu.dto.Employee">
        select
        <include refid="base_column_cist"/>
        from employees;
    </select>
</mapper>
